table {
    /* border-collapse: collapse; */
    width: 50rem;
    margin: auto;
  }
  th,
  td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    padding-top:10px
    /* font-size: px; */
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  #tabbox{
    border:1px solid black;
    border-radius:2px;
    padding: 2rem 3rem;
    margin-bottom:2rem;
    background-color: rgb(245, 253, 253);
}
#asn{
      border:1px solid black;
      border-radius:2px;
      padding: 2rem 3rem;
      margin-bottom:2rem;
      margin-top:2rem;
      background-color: rgb(170, 196, 196);

  }
  #spn2{
    margin-top:1rem;
    border:0.1px solid black;
    margin-left:2rem;
}
#spn1{
      margin-top:1rem;
      border:0.1px solid black;

  }
  #arre{
    border:1px solid black;
    -webkit-box-shadow:  -1px 2px 8px 3px rgba(107, 105, 107, 1);
  -moz-box-shadow:  -1px 2px 8px 3px rgba(107, 105, 107, 1);
  box-shadow:  -1px 2px 8px 3px rgba(107, 105, 107, 1);
  }
